<div id="settings_plugin_filamentmanager_spooldialog" class="modal hide fade">

    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3>{{ _('Filament Spool') }} <i class="icon-spinner icon-spin" data-bind="visible: requestInProgress()"></i></h3>
    </div>

    <div class="modal-body">

        <form class="form-horizontal">

            <!-- name -->

            <div class="control-group" data-bind="css: {error: spoolEditor.nameInvalid()}">
                <label class="control-label">{{ _('Name') }}</label>
                <div class="controls">
                    <input type="text" data-bind="value: spoolEditor.name, valueUpdate: 'afterkeydown'">
                    <span data-bind="visible: spoolEditor.nameInvalid()">
                        <br><span class="help-inline">{{ _("Name must be set") }}</span>
                    </span>
                </div>
            </div>

            <!-- profile -->

            <div class="control-group">
                <label class="control-label">{{ _('Profile') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <select data-bind="options: profiles, optionsText: function(item) { return item.material + ' (' + item.vendor + ')'; }, optionsValue: function(item) { return item.id; }, value: spoolEditor.selectedProfile"></select>
                    </div>
                </div>
            </div>

            <!-- price -->

            <div class="control-group">
                <label class="control-label">{{ _('Price') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="number" step="0.01" min="0" class="input-mini text-right" data-bind="value: spoolEditor.cost">
                        <span class="add-on">{{ currency }}</span>
                    </div>
                </div>
            </div>

            <!-- weight -->

            <div class="control-group">
                <label class="control-label">{{ _('Weight') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="number" step="1" min="0" class="input-mini text-right" data-bind="value: spoolEditor.totalWeight">
                        <span class="add-on">g</span>
                    </div>
                </div>
            </div>

            <!-- remaining -->

            <div class="control-group">
                <label class="control-label">{{ _('Remaining') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="number" step="1" min="0" class="input-mini text-right" data-bind="value: spoolEditor.remaining">
                        <span class="add-on">g</span>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Cancel') }}</button>
        <button class="btn btn-primary" data-bind="disable: spoolEditor.nameInvalid(), click: function() { saveSpool(spoolEditor.toSpoolData()); }">{{ _('Save') }}</button>
    </div>

</div>
