<div id="settings_plugin_filamentmanager_configurationdialog" class="modal hide fade" aria-hidden="true">

    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">&times;</a>
        <h3>{{ _('Plugin Configuration') }}</h3>
    </div>

    <div class="modal-body">

        <form class="form-horizontal">

            <!-- enable warning -->

            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: config_enableWarning">{{ _("Warn if print job exceeds remaining filament") }}
                    </label>
                </div>
            </div>

            <!-- enable odometer -->

            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: config_enableOdometer">{{ _("Enable filament odometer") }}
                    </label>
                </div>
            </div>

            <!-- enable auto pause -->

            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: config_autoPause, enable: config_enableOdometer">{{ _("Pause print if filament runs out") }}
                    </label>
                </div>
            </div>

            <!-- pause threshold -->

            <div class="control-group">
                <label class="control-label">{{ _('Pause threshold') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="number" step="1" min="0" class="input-mini text-right" data-bind="value: config_pauseThreshold, enable: config_enableOdometer() && config_autoPause()">
                        <span class="add-on">mm</span>
                    </div>
                </div>
            </div>

            <!-- currency symbol -->

            <div class="control-group">
                <label class="control-label">{{ _('Currency symbol') }}</label>
                <div class="controls">
                    <input type="text" class="input-mini text-center" data-bind="value: config_currencySymbol">
                </div>
            </div>

        </form>

        <legend>{{ _("Import & Export") }}</legend>

        <form class="form-inline">
            <div class="control-group" data-bind="css: {error: invalidArchive}">
                <div class="input-prepend input-append">
                    <span class="btn fileinput-button">
                        <span>{{ _("Browse...") }}</span>
                        <input id="settings_plugin_filamentmanager_import" type="file" name="file" accept=".zip" data-url="{{ url_for('plugin.filamentmanager.import_data') }}">
                    </span>
                    <input type="text" class="input-large text-center" data-bind="value: importFilename" readonly></span>
                    <button id="settings_plugin_filamentmanager_import_button" class="btn" data-bind="enable: enableImport"><i class="fa fa-upload"></i> {{ _("Import") }}</button>
                </div>
                <a class="btn pull-right" data-bind="attr: {href: exportUrl()}" download><i class="fa fa-download"></i> {{ _("Export") }}</a>
            </div>
            <div class="help-block" data-bind="visible: invalidArchive">{{ _('This does not look like a valid import archive. Only zip files are supported.') }}</div>
        </form>
    </div>

    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">{{ _('Cancel') }}</button>
        <button class="btn btn-primary" data-bind="click: savePluginSettings">{{ _('Save') }}</button>
    </div>

</div>
