<form class="form-horizontal">
  <!-- navigation -->
  <ul class="nav nav-pills">
    <li class="active"><a href="#fm_settings_features" data-toggle="tab">{{ _("Features") }}</a></li>
    <li><a href="#fm_settings_database" data-toggle="tab">{{ _("Database") }}</a></li>
    <li><a href="#fm_settings_appearance" data-toggle="tab">{{ _("Appearance") }}</a></li>
  </ul>

  <div class="tab-content">
    <!-- features -->
    <div id="fm_settings_features" class="tab-pane active">
      <fieldset>
        <legend>{{ _('Select plugin features') }}</legend>
        <!-- enable confirm spool selection -->
        <div class="control-group">
          <div class="controls">
            <label class="checkbox">
              <input type="checkbox" data-bind="checked: viewModels.config.config.confirmSpoolSelection">{{ _("Selected spools must be confirmed before starting or resuming the print job") }}
            </label>
          </div>
        </div>
        <!-- enable warning -->
        <div class="control-group">
          <div class="controls">
            <label class="checkbox">
              <input type="checkbox" data-bind="checked: viewModels.config.config.enableWarning">{{ _("Warn if print job exceeds remaining filament") }}
            </label>
          </div>
        </div>
        <!-- enable odometer -->
        <div class="control-group">
          <div class="controls">
            <label class="checkbox">
              <input type="checkbox" data-bind="checked: viewModels.config.config.enableOdometer">{{ _("Enable software odometer to measure used filament") }}
            </label>
          </div>
        </div>
        <!-- enable auto pause -->
        <div class="control-group">
          <div class="controls">
            <label class="checkbox">
              <input type="checkbox" data-bind="checked: viewModels.config.config.autoPause, enable: viewModels.config.config.enableOdometer">{{ _("Pause print if filament runs out") }}
            </label>
          </div>
        </div>
        <!-- pause threshold -->
        <div class="control-group">
          <label class="control-label">{{ _('Pause threshold') }}</label>
          <div class="controls">
            <div class="input-append">
              <input type="number" step="1" min="0" class="input-mini text-right" data-bind="value: viewModels.config.config.pauseThreshold, enable: viewModels.config.config.enableOdometer() && viewModels.config.config.autoPause()">
              <span class="add-on">mm</span>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
    <!-- database -->
    <div id="fm_settings_database" class="tab-pane">
      <fieldset>
        <legend>{{ _("Configure database") }}</legend>
        <div style="margin-top:-10px; margin-bottom:20px;">
            <small class="muted">{{ _("If you change these settings you must restart your OctoPrint instance for the changes to take affect.") }}</small>
        </div>
        <!-- use external database -->
        <div class="control-group">
          <div class="controls">
            <label class="checkbox">
              <input type="checkbox" data-bind="checked: viewModels.config.config.database.useExternal">{{ _("Use external database") }}
            </label>
          </div>
        </div>
        <!-- uri -->
        <div class="control-group">
          <label class="control-label">{{ _('URI') }}</label>
          <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: viewModels.config.config.database.uri, enable: viewModels.config.config.database.useExternal">
          </div>
        </div>
        <!-- database name -->
        <div class="control-group">
          <label class="control-label">{{ _('Database') }}</label>
          <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: viewModels.config.config.database.name, enable: viewModels.config.config.database.useExternal">
          </div>
        </div>
        <!-- username -->
        <div class="control-group">
          <label class="control-label">{{ _('Username') }}</label>
          <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: viewModels.config.config.database.user, enable: viewModels.config.config.database.useExternal">
          </div>
        </div>
        <!-- password -->
        <div class="control-group">
          <label class="control-label">{{ _('Password') }}</label>
          <div class="controls">
            <input type="password" class="input-block-level" data-bind="value: viewModels.config.config.database.password, enable: viewModels.config.config.database.useExternal">
          </div>
        </div>
        <!-- connection test -->
        <div class="control-group">
          <button class="btn pull-right" data-bind="click: viewModels.config.connectionTest">{{ _("Test connection") }}</button>
        </div>
      </fieldset>
    </div>
    <!-- appearance -->
    <div id="fm_settings_appearance" class="tab-pane">
      <fieldset>
        <legend>{{ _("Customize appearance") }}</legend>
        <!-- currency symbol -->
        <div class="control-group">
          <label class="control-label">{{ _('Currency symbol') }}</label>
          <div class="controls">
            <input type="text" class="input-mini text-center" data-bind="value: viewModels.config.config.currencySymbol">
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</form>
