<div id="settings_plugin_filamentmanager_configurationdialog" class="modal hide fade" aria-hidden="true">

    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">&times;</a>
        <h3>{{ _('Plugin Configuration') }}</h3>
    </div>

    <div class="modal-body">

        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li data-bind="click: function(){$('#settings_plugin_filamentmanager_configurationdialog').resize()}" class="active"><a href="#settings_plugin_filamentmanager_configurationdialog_features" data-toggle="tab">{{ _("Features") }}</a></li>
                <li data-bind="click: function(){$('#settings_plugin_filamentmanager_configurationdialog').resize()}"><a href="#settings_plugin_filamentmanager_configurationdialog_database" data-toggle="tab">{{ _("Database") }}</a></li>
                <li data-bind="click: function(){$('#settings_plugin_filamentmanager_configurationdialog').resize()}"><a href="#settings_plugin_filamentmanager_configurationdialog_appearance" data-toggle="tab">{{ _("Appearance") }}</a></li>
            </ul>

            <div class="tab-content">

                <div class="tab-pane active" id="settings_plugin_filamentmanager_configurationdialog_features">
                    <!-- features -->
                    <form class="form-horizontal">
                        <!-- enable confirm spool selection -->
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox">
                                    <input type="checkbox" data-bind="checked: viewModels.config.config.confirmSpoolSelection">{{ _("Show dialog to confirm selected spools before starting/resuming the print job") }}
                                </label>
                            </div>
                        </div>
                        <!-- enable warning -->
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox">
                                    <input type="checkbox" data-bind="checked: viewModels.config.config.enableWarning">{{ _("Warn if print job exceeds remaining filament") }}
                                </label>
                            </div>
                        </div>
                        <!-- enable odometer -->
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox">
                                    <input type="checkbox" data-bind="checked: viewModels.config.config.enableOdometer">{{ _("Enable software odometer to measure used filament") }}
                                </label>
                            </div>
                        </div>
                        <!-- enable auto pause -->
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox">
                                    <input type="checkbox" data-bind="checked: viewModels.config.config.autoPause, enable: viewModels.config.config.enableOdometer">{{ _("Pause print if filament runs out") }}
                                </label>
                            </div>
                        </div>
                        <!-- pause threshold -->
                        <div class="control-group">
                            <label class="control-label">{{ _('Pause threshold') }}</label>
                            <div class="controls">
                                <div class="input-append">
                                    <input type="number" step="1" min="0" class="input-mini text-right" data-bind="value: viewModels.config.config.pauseThreshold, enable: viewModels.config.config.enableOdometer() && viewModels.config.config.autoPause()">
                                    <span class="add-on">mm</span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="tab-pane" id="settings_plugin_filamentmanager_configurationdialog_database">
                    <!-- database connection -->
                    <form class="form-horizontal">
                        <!-- use external database -->
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox">
                                    <input type="checkbox" data-bind="checked: viewModels.config.config.database.useExternal">{{ _("Use external database") }}
                                </label>
                            </div>
                        </div>
                        <!-- uri -->
                        <div class="control-group">
                            <label class="control-label">{{ _('URI') }}</label>
                            <div class="controls">
                                <input type="text" class="input-block-level" data-bind="value: viewModels.config.config.database.uri, enable: viewModels.config.config.database.useExternal">
                            </div>
                        </div>
                        <!-- database -->
                        <div class="control-group">
                            <label class="control-label">{{ _('Database') }}</label>
                            <div class="controls">
                                <input type="text" class="input-block-level" data-bind="value: viewModels.config.config.database.name, enable: viewModels.config.config.database.useExternal">
                            </div>
                        </div>
                        <!-- username -->
                        <div class="control-group">
                            <label class="control-label">{{ _('Username') }}</label>
                            <div class="controls">
                                <input type="text" class="input-block-level" data-bind="value: viewModels.config.config.database.user, enable: viewModels.config.config.database.useExternal">
                            </div>
                        </div>
                        <!-- password -->
                        <div class="control-group">
                            <label class="control-label">{{ _('Password') }}</label>
                            <div class="controls">
                                <input type="password" class="input-block-level" data-bind="value: viewModels.config.config.database.password, enable: viewModels.config.config.database.useExternal">
                            </div>
                        </div>
                        <!-- connection test -->
                        <div class="control-group">
                            <button class="btn pull-right" data-bind="click: viewModels.config.connectionTest">{{ _("Test connection") }}</button>
                        </div>

                        <span>{{ _("Note: If you change these settings you must restart your OctoPrint instance for the changes to take affect.") }}</span>
                    </form>

                    <!-- import & export -->
                    <legend>{{ _("Import & Export") }} <i class="fa fa-spinner" data-bind="visible: viewModels.import.importInProgress, css: {'fa-spin': viewModels.import.importInProgress}"></i></legend>
                    <form class="form-inline">
                        <div class="control-group" data-bind="css: {error: viewModels.import.invalidArchive}">
                            <div class="input-prepend input-append">
                                <span class="btn fileinput-button">
                                    <span>{{ _("Browse...") }}</span>
                                    <input id="settings_plugin_filamentmanager_import" type="file" name="file" accept=".zip" data-url="{{ url_for('plugin.filamentmanager.import_data') }}">
                                </span>
                                <input type="text" class="input-large text-center" data-bind="value: viewModels.import.importFilename" readonly></span>
                                <button id="settings_plugin_filamentmanager_import_button" class="btn" data-bind="enable: viewModels.import.enableImport"><i class="fa fa-upload"></i> {{ _("Import") }}</button>
                            </div>
                            <a class="btn pull-right" data-bind="attr: {href: '{{ url_for('plugin.filamentmanager.export_data', apikey='') }}' + UI_API_KEY}" download><i class="fa fa-download"></i> {{ _("Export") }}</a>
                        </div>
                        <div class="help-block" data-bind="visible: viewModels.import.invalidArchive">{{ _('This does not look like a valid import archive. Only zip files are supported.') }}</div>
                    </form>
                </div>

                <!-- appearance -->
                <div class="tab-pane" id="settings_plugin_filamentmanager_configurationdialog_appearance">
                    <form class="form-horizontal">
                        <!-- currency symbol -->
                        <div class="control-group">
                            <label class="control-label">{{ _('Currency symbol') }}</label>
                            <div class="controls">
                                <input type="text" class="input-mini text-center" data-bind="value: viewModels.config.config.currencySymbol">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn" data-dismiss="modal">{{ _('Cancel') }}</button>
        <button class="btn btn-primary" data-bind="click: viewModels.config.saveData">{{ _('Save') }}</button>
    </div>

</div>
