<div id="settings_plugin_filamentmanager_profiledialog" class="modal hide fade">

    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3>{{ _('Filament Profiles') }} <i class="fa fa-spinner" data-bind="visible: viewModels.profiles.requestInProgress, css: {'fa-spin': viewModels.profiles.requestInProgress}"></i></h3>
    </div>

    <div class="modal-body">

        <!-- profile selection -->

        <div class="controls settings_plugin_filamentmanager_profiledialog_select">
            <select data-bind="options: viewModels.profiles.allProfiles, optionsText: function(item) { return item.material + ' (' + item.vendor + ')'; }, optionsValue: function(item) { return item.id; }, optionsCaption: '{{ _('--- New Profile ---') }}', value: viewModels.profiles.loadedProfile.id"></select>
            <button class="btn btn-small btn-success" title="{{ _('New') }}" data-bind="click: function() { viewModels.profiles.fromProfileData(); }"><span class="icon-plus"></span></button>
            <button class="btn btn-small btn-danger" title="{{ _('Delete') }}" data-bind="disable: viewModels.profiles.loadedProfile.isNew() || viewModels.profiles.requestInProgress(), click: function() { viewModels.profiles.removeProfile(viewModels.profiles.toProfileData()); }"><span class="icon-minus"></span></button>
            <button class="btn btn-small btn-primary pull-right" title="{{ _('Save profile') }}" data-bind="disable: viewModels.profiles.requestInProgress() || viewModels.profiles.materialInvalid() || viewModels.profiles.vendorInvalid(), click: function() { viewModels.profiles.saveProfile(viewModels.profiles.toProfileData()); }">{{ _('Save') }}</button>
        </div>

        <legend></legend>

        <form class="form-horizontal">

            <!-- vendor -->

            <div class="control-group" data-bind="css: {error: viewModels.profiles.vendorInvalid()}">
                <label class="control-label">{{ _('Vendor') }}</label>
                <div class="controls">
                    <input type="text" data-bind="value: viewModels.profiles.loadedProfile.vendor, valueUpdate: 'afterkeydown'">
                    <span data-bind="visible: viewModels.profiles.vendorInvalid()">
                        <br><span class="help-inline">{{ _("Vendor must be set") }}</span>
                    </span>
                </div>
            </div>

            <!-- material -->

            <div class="control-group" data-bind="css: {error: viewModels.profiles.materialInvalid()}">
                <label class="control-label">{{ _('Material') }}</label>
                <div class="controls">
                    <input type="text" data-bind="value: viewModels.profiles.loadedProfile.material, valueUpdate: 'afterkeydown'">
                    <span data-bind="visible: viewModels.profiles.materialInvalid()">
                        <br><span class="help-inline">{{ _("Material must be set") }}</span>
                    </span>
                </div>
            </div>

            <!-- density -->

            <div class="control-group">
                <label class="control-label">{{ _('Density') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="number" step="0.01" min="0" class="input-mini text-right" data-bind="value: viewModels.profiles.loadedProfile.density">
                        <span class="add-on">g/cm<sup>3</sup></span>
                    </div>
                </div>
            </div>

            <!-- diameter -->

            <div class="control-group">
                <label class="control-label">{{ _('Diameter') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="number" step="0.01" min="0" class="input-mini text-right" data-bind="value: viewModels.profiles.loadedProfile.diameter">
                        <span class="add-on">mm</span>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Close') }}</button>
    </div>

</div>
