<!-- ko foreach: viewModels.selections.tools -->
<div class="control-group">
   <div class="controls form-inline">
       <label class="control-label">{{ _('Tool') }} <span data-bind="text: $index"></span></label>&nbsp;
       <select data-bind="enable: !$root.core.bridge.allViewModels.printerStateViewModel.isPrinting() && $root.core.bridge.allViewModels.loginStateViewModel.isUser(), options: $root.viewModels.spools.allSpools.items, optionsText: function(item) { return item.name + ' ' + (item.weight - item.used).toFixed(0) + 'g - ' + item.profile.material + ' (' + item.profile.vendor + ')'; }, optionsValue: function(item) { return item.id; }, optionsCaption: '{{ _('--- Select Spool ---') }}', value: $root.viewModels.selections.tools()[$index()], event: { change: function() { $root.viewModels.selections.updateSelectedSpool($index(), $root.viewModels.selections.tools()[$index()]()); } }"></select>
   </div>
</div>
<!-- /ko -->
