<!-- table toolbar -->
<div class="table-toolbar">

  <!-- filter -->
  <span class="input-prepend">
    <div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span data-bind="text: $root.viewModels.spools.supportedFilters[$root.viewModels.spools.currentFilter()].name"></span> <span class="caret"></span></a>
      <ul class="dropdown-menu" data-bind="foreach: $root.viewModels.spools.supportedFilters">
        <li><a href="#" data-bind="text: name, click: function() { $root.viewModels.spools.currentFilter($index()); }"></a></li>
      </ul>
    </div>

    <input id="fm_inventory_table_filter" type="text" class="input-medium" placeholder="" data-bind="event: { keyup: $root.viewModels.spools.applyFilter }, attr: { placeholder: $root.viewModels.spools.supportedFilters[$root.viewModels.spools.currentFilter()].text }">
  </span>

  <!-- action buttons -->
  <span class="btn-group pull-right">

    <!-- refresh inventory -->
    <button class="btn btn-default" title="Refresh" data-bind="click: function() { $root.viewModels.spools.requestSpools(true) }"><span class="fa fa-refresh" data-bind="css: { 'fa-spin': $root.viewModels.spools.requestInProgress() }"></span></button>

    <!-- select items per page -->
    <div class="btn-group">
      <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="{{ _('Items per page') }}"><span data-bind="text: $root.viewModels.spools.pageSizeText"></span> <span class="caret"></span></button>
      <ul class="dropdown-menu" data-bind="foreach: $root.viewModels.spools.supportedPageSizes">
        <li><a href="#" data-bind="text: name, click: function() { $root.viewModels.spools.inventory.pageSize(size); }"></a></li>
      </ul>
    </div>

    <!-- open data dialogs -->
    <div class="btn-group">
      <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Data"><span class="fa fa-database"></span> <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li data-bind="css: { disabled: !$root.core.bridge.allViewModels.loginStateViewModel.isUser() || $root.viewModels.profiles.allProfiles().length < 1 }"><a href="#" data-bind="click: function() { $root.viewModels.spools.showSpoolDialog(); }">{{ _("Add Spool") }}</a></li>
        <li data-bind="css: { disabled: !$root.core.bridge.allViewModels.loginStateViewModel.isUser() }"><a href="#" data-bind="click: function() { $root.viewModels.profiles.showProfileDialog(); }">{{ _("Manage Profiles") }}</a></li>
      </ul>
    </div>
  </span>
</div>

<!-- inventory table -->
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th class="fm_inventory_table_column_name" data-bind="click: function() { $root.viewModels.spools.setSorting('name'); }">{{ _('Name') }} <span class="sort-icon fa fa-angle-up"></span></th>
      <th class="fm_inventory_table_column_material" data-bind="click: function() { $root.viewModels.spools.setSorting('material'); }">{{ _('Material') }} <span class="sort-icon fa"></span></th>
      <th class="fm_inventory_table_column_vendor" data-bind="click: function() { $root.viewModels.spools.setSorting('vendor'); }">{{ _('Vendor') }} <span class="sort-icon fa"></span></th>
      <th class="fm_inventory_table_column_remaining" data-bind="click: function() { $root.viewModels.spools.setSorting('remaining'); }">{{ _('Remaining') }} <span class="sort-icon fa"></span></th>
      <th class="fm_inventory_table_column_action"></th>
    </tr>
  </thead>
  <tbody data-bind="foreach: $root.viewModels.spools.inventory.paginatedItems">
    <tr>
      <td class="fm_inventory_table_column_name" data-bind="text: name"></td>
      <td class="fm_inventory_table_column_material" data-bind="text: profile.material"></td>
      <td class="fm_inventory_table_column_vendor" data-bind="text: profile.vendor"></td>
      <td class="fm_inventory_table_column_remaining"><span data-bind="text: (weight - used).toFixed(0)"></span>g</td>
      <!-- item menu -->
      <td class="fm_inventory_table_column_action">
        <div class="dropdown">
          <a href="#" class="fa fa-caret-down" title="{{ _('Action Menu') }}" data-toggle="dropdown"></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
            <!-- select -->
            <li class="dropdown-submenu pull-left" data-bind="css: { disabled: !$root.core.bridge.allViewModels.loginStateViewModel.isUser() || $root.core.bridge.allViewModels.printerStateViewModel.isPrinting() }">
              <a href="#"><span class="fa fa-power-off" data-toggle="dropdown"></span>{{ _('Activate') }}</a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" data-bind="foreach: $root.viewModels.selections.tools">
                <li><a href="#" data-bind="click: function() { $root.viewModels.selections.updateSelectedSpool($index(), $parent.id); }">{{ _('Tool') }} <span data-bind="text: $index"></a></li>
              </ul>
            </li>
            <!-- modify -->
            <li data-bind="css: { disabled: !$root.core.bridge.allViewModels.loginStateViewModel.isUser() }"><a href="#" tabindex="-1" data-bind="click: function() { $root.viewModels.spools.showSpoolDialog($data); }"><span class="fa fa-pencil"></span>{{ _('Edit') }}</a></li>
            <li data-bind="css: { disabled: !$root.core.bridge.allViewModels.loginStateViewModel.isUser() }"><a href="#" tabindex="-1" data-bind="click: function() { $root.viewModels.spools.removeSpool($data); }"><span class="fa fa-trash-o"></span>{{ _('Delete') }}</a></li>
            <li data-bind="css: { disabled: !$root.core.bridge.allViewModels.loginStateViewModel.isUser() }"><a href="#" tabindex="-1" data-bind="click: function() { $root.viewModels.spools.duplicateSpool($data); }"><span class="fa fa-clone"></span>{{ _('Duplicate') }}</a></li>
          </ul>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<!-- pagination -->
<div class="pagination pagination-mini pagination-centered">

  <!-- go to previous page -->
  <ul>
    <li data-bind="css: {disabled:$root.viewModels.spools.inventory.currentPage() === 0}"><a href="#" data-bind="click:$root.viewModels.spools.inventory.prevPage">«</a></li>
  </ul>

  <!-- go to specific page -->
  <ul data-bind="foreach:$root.viewModels.spools.inventory.pages">
    <li data-bind="css: { active: $data.number === $root.viewModels.spools.inventory.currentPage(), disabled: $data.number === -1 }"><a href="#" data-bind="text: $data.text, click: function() { $root.viewModels.spools.inventory.changePage($data.number); }"></a></li>
  </ul>

  <!-- go to next page -->
  <ul>
    <li data-bind="css: {disabled:$root.viewModels.spools.inventory.currentPage() === $root.viewModels.spools.inventory.lastPage() ||$root.viewModels.spools.inventory.lastPage() === -1}"><a href="#" data-bind="click:$root.viewModels.spools.inventory.nextPage">»</a></li>
  </ul>
</div>
