.fm_dialog_profile_select {
    margin-bottom: 6px;
}

.fm_dialog_profile_select button.btn-small {
    margin-bottom: 10px;
}

#sidebar_plugin_filamentmanager_wrapper .accordion-heading i.fa-spinner {
    float: right;
    margin: 10px 15px;
}

#sidebar_plugin_filamentmanager .accordion-inner {
    padding-bottom: 0px;
}

#fm_inventory_tab table th:not(.fm_inventory_table_column_action) {
    cursor: pointer;
}

table td.fm_inventory_table_column_name,
table th.fm_inventory_table_column_name {
    width: 55%;
    text-align: left;
}

table td.fm_inventory_table_column_material,
table th.fm_inventory_table_column_material {
    width: 80px;
    text-align: left;
}

table td.fm_inventory_table_column_vendor,
table th.fm_inventory_table_column_vendor {
    width: 45%;
    text-align: left;
}

table td.fm_inventory_table_column_remaining,
table th.fm_inventory_table_column_remaining {
    width: 100px;
    text-align: right;
}

table td.fm_inventory_table_column_action,
table th.fm_inventory_table_column_action {
    width: 20px;
    text-align: center;
}

table td.fm_inventory_table_column_action .dropdown {
    width: 20px;
    position: absolute;
}

table td.fm_inventory_table_column_action a {
    color: #000;
    text-decoration: none;
}

.table-responsive {
  overflow-y: visible !important;
}

.table-toolbar {
    margin-bottom: 10px;
}

.dropdown-menu {
    text-align: left;
}

/* align fontawesome icons in dropdown menus */

.dropdown-menu .fa {
    width: 12px;
    margin-right: 8px;
}

/* fix nested button groups */

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: -1px;
}

.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}

.btn-group > .btn-group:last-child > .btn:first-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
